@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.myTestsBlock {
  min-height: 100vh;
  background-color: #cccccc;
  display: flex;
  flex-wrap: wrap;
}

.testsInner {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 60px;
}

.myTestsContainer {
  .tests {
    display: flex;
    flex-wrap: wrap;

    .testItem {
      width: 100px;
      background-color: gray/*$myProjectsbgColor*/; //test rectangle
      margin-bottom: 20px;
      border-radius: 40px;
      height: auto; // This will ensure your container height is dynamic
      transition: height 0.5s; // For smooth height transition

      @media screen and (min-width: 768px) {
        width: calc(50% - 15px);
      }

      &:hover {
        .testInfo {
          opacity: 1;
        }
      }
    }
  }
}
