@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.header {
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
