@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins.scss';

.skillsBlock {
    min-height: 100vh; /*adjustment for mobile version*/
    background-color: gray;

    .skillsContainer {
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding-top: 30px;
        background-color: $skillsBgColor;
        border: 1px solid $skillsBorders;

        .title {
            background-color: $btnColor;
        }

        .skills {
            border: 1px solid gray;
            width: 100%; /*width is relative to parent (skillsContainer width)*/
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            box-sizing: border-box;
        }
    }
}


