@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.mainBlock {
    height: 100vh;
    background-color: $mainPagebgColor;

    .greeting {
        width: 300px;
        padding: 15px;
        margin-top: 400px;
        color: orange;
    }

    .greeting span {
        font-size: large;
    }

    .photo {
        width: 400px;
        height: 400px;
        margin-left: 10px;
    }

    @media screen and (max-width: 752px) {
        .mainBlock {
            height: 150vh;
        }
    }
}
