@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";


.greetingCvPhoto {
  min-height: 60vh;
  padding-top:90px;
  background-color: $mainPageBgColor;

  .greeting {
    width: 750px; //photo location control
    color: $mainPageRoleColor;
    position: relative;
    z-index: 2;
  }

  .gretingFirstSecondLine{
    color:$mainPageHiThereMyNameIsDmitryColor;
  }

  .greeting span {
    font-size: large;
  }

  .photo {
    width: 400px;
    height: 400px;
    margin-left: 10px;
    border-radius: 50px;
    top: 0;
    left: 0;
    position: relative;
    z-index: 1;
  }

  .downloadLink {
    display: inline-block;
    background-color: $mainPageCvDownloadBtnBgColor;
    margin-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    color:  $mainPageCvDownloadBtnTextColor;
    text-decoration: none;
    height:30px;
    padding-top: 5px;
    font-weight: bold;

    &:hover{
      background-color:$mainPageCvDownloadBtnBgHoverColor;
      color:$mainPageCvDownloadBtnTextHoverColor;
    }
  }

  .photoWrapper {
    margin-top: 50px;
    position: static;
    padding: 10px;
    background-color: $photoWrapperColor;
    border-radius: 25px;
    width: 400px;
    height: 400px;
  }

  .typingEffectText {
    font-size: large;
    font-weight: bold;
    color: $typingEffectTextColor;
  }
}

.rotatingCubes {
  background-color: $rotatingCubesBgColor;
  min-height: 30vh;
  position: relative;
  margin-top: -100px;
}

.caption {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  margin-right: 100px;
  margin-left: 100px;
  padding:25px;

  h4 {
    margin: 0px 33px;
    color: $rotatingCubesCaptionsColor;
    position: relative;
    top: -100px
  }
}



@media screen and (max-width: 752px) {
  .spacer {
    height: 100px;
  }

  .header {
    height: 100px;
  }

  .mainBlock {
    min-height: 150vh;
  }
}

@media screen and (max-width: 480px) {
  .spacer {
    height: 100px;
  }

  .header {
    height: 100px;
  }

  .mainBlock {
    min-height: auto;
    padding-bottom: 50px;
  }

  .greeting {
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    text-align: center;
  }

  .photo,
  .photoWrapper {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
}
