@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.rectanglesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 10px;
  padding: 40px;
}

.textJustified {
  text-align: justify;
  height: 100%; // Устанавливаем высоту текста на 100%, чтобы он занимал весь контейнер.
}

a {
  color: $moreOfMyStoryColor;
  transition: color 0.3s ease;

  &:hover {
    color: $moreOfMyStoryHoverColor;
  }
}



.cupContainer {
  margin-top: 20px;
  width: 260px;
  height: 50px;
  padding: 10px;
  color: black;
  background-color: white;
  position: relative;

}

.waterAnimation {
  position: absolute;
  bottom: 200px;
  left: 10px;
  right: 10px;
  background-color: blue;
  border-radius: 0 0 100px 100px;
  animation: fillWater 5s forwards;

}

@keyframes fillWater {
  from {
    height: 0%;
  }
  to {
    height: 35%;
  }
}

.removeWaterAnimation {
  height: 50%;
  animation: removeWater 3s forwards;
}

@keyframes removeWater {
  to {
    height: 0%;
  }
}

.credoText {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  color: white;
}
.swiper-pagination-bullet {
  background-color: black;
}

.swiper-pagination-bullet-active {
  background-color: $moreOfMyStoryHoverColor;
}

.swiperPagination {
  --swiper-pagination-color: black;
  --swiper-pagination-bullet-inactive-color: #999999;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bullet-horizontal-gap: 10px;
}
