@import "/src/common/styles/sass/variables";
@import "/src/common/styles/sass/mixins";

.swiper-pagination-bullet {
  background-color: black;
}

.swiper-pagination-bullet-active {
  background-color: $moreOfMyStoryHoverColor;
}

.swiperPagination {
  --swiper-pagination-color: black;
  --swiper-pagination-bullet-inactive-color: #999999;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bullet-horizontal-gap: 10px;
}

.rectangle {
  width: 110%;
  max-width: 600px;
  margin: 0 auto;
  height: 700px;
  padding: 25px;
  background-color: white;
  overflow: auto;
}

.textJustified {
  text-align: justify;
  height: 100%;
}

a {
  color: $moreOfMyStoryColor;
  transition: color 0.3s ease;

  &:hover {
    color: $moreOfMyStoryHoverColor;
  }
}

.cupContainer {
  margin-top: 40px;
  width: 100%;
  max-width: 260px; // максимальная ширина
  height: 50px;
  padding: 10px;
  color: black;
  background-color: white;
  position: relative;
}

.waterAnimation {
  position: absolute;
  bottom: 150px;
  left: 13px;

  background-color: blue;
  border-radius: 0 0 100px 100px;
  animation: fillWater 5s forwards;
  width: 90%;
  margin-top: 550px;
}

@keyframes fillWater {
  from {
    height: 0;
  }
  to {
    height: 30%;
  }
}

.removeWaterAnimation {
  height: 50%;
  animation: removeWater 3s forwards;
}

@keyframes removeWater {
  to {
    height: 0;
  }
}

.credoText {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  color: white;
}
