@import "../../../common/styles/sass/variables";
@import "../../../common/styles/sass/mixins";

.contactsBlock {
  min-height: calc(100vh - 140px);
  background-color: $contactsBgColor /*#1f1f20*/;

  .contactsContainer {
    /* min-height: calc(100vh - 140px);*/ // Subtract the footer height if it's fixed
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding-bottom: 200px; // Padding instead of margin in toastContainer*/

    .contactForm {
      width: 40%;
      background-color: orange;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 100px;
      padding: 30px;
      border: 1px solid orange;

      .submitBtn {
        width: 20%;
        margin: 20px;
        display: flex;
        justify-content: center;
        height: 3em;
        align-items: center;
      }
    }

    .contactForm input {
      width: 60%;
      height: 2em;
    }

    .contactForm textarea {
      width: 60%;
      height: 4em;
    }

    .whiteTitle {
      color: white;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        background: white;
        width: 55px;
        height: 1px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .contactsContainer {
    min-height: calc(100vh - 100px);
    padding-bottom: 100px;
  }

  .contactForm {
    width: 100%;
    margin-top: 50px;
  }
}
