@import "/src/common/styles/sass/variables";
@import "/src/common/styles/sass/mixins";

.contactsBlock {
  min-height: calc(100vh - 140px);
  background-color: $contactsBgColor;

  .contactsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .contactForm {
      width: 40%;
      background-color: $contactsFormColor;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 100px;
      margin-bottom: 50px;
      padding: 30px;
      border: 1px solid;

      .submitBtn {
        width: 20%;
        margin: 20px;
        display: flex;
        justify-content: center;
        height: 3em;
        align-items: center;
      }
    }

    .contactForm input {
      width: 60%;
      height: 2em;
    }

    .contactForm textarea {
      width: 60%;
      height: 4em;
    }

    .whiteTitle {
      color: $contactsTitleColor;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        background: $contactsUnderscoreColor;
        width: 55px;
        height: 1px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .contactsContainer {
    min-height: calc(100vh - 100px);
    padding-bottom: 100px;
  }

  .contactForm {
    width: 80% !important;
    margin-top: 50px;
    padding: 20px 15px;
    margin-bottom: 0 !important;

    input,
    textarea {
      width: 90%;
      margin-bottom: 15px;
    }

    .submitBtn {
      width: 100%;
      margin: 20px 0;
    }
    .formNote {
      padding: 5px;
    }
  }
}
@media (max-width: 768px) {
  .blockTitle {
    text-align: center;
  }
  .submitBtn {
    width: 150px !important;
  }
}
