@import "/src/common/styles/sass/variables";
@import "/src/common/styles/sass/mixins";

.myProject {
  width: 100%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: height 0.3s ease-in-out;
  flex-grow: 1;

  .lightning {
    color: $lightningColor;
    margin-top: -35px;
    position: absolute;
  }

  .image {
    width: 250px;
    max-height: 150px;
    object-fit: cover;
    margin-bottom: 15px;

    @media screen and (max-width: 767px) {
      height: 200px;
    }
  }

  .content {
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: flex-end;
    color: $cardTextColor;
    padding: 10px;

    .stack {
      grid-row: 1;
      span {
        font-weight: bold;
      }
    }

    .description {
      grid-row: 2;
      margin-bottom: -30px;
      flex: 1;

      .truncate {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .moreLess {
        color: $moreLessColor;
        text-decoration: underline;
        cursor: pointer;
        padding-left: 10px;
        padding-bottom: 20px;

        &:hover {
          color: $moreLessHoverColor;
        }
      }
    }

    .buttonsContainer {
      grid-row: 3;
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 10px;

      .button {
        font-variant: small-caps;
        font-style: italic;
        color: orange;
        padding: 4px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        transition-duration: 0.4s;
        cursor: pointer;
        margin-bottom: 10px;

        &:hover {
          background-color: $btnHoverColor;
          color: $btnTextHoverColor;
          border: 2px solid $btnBorderColor;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .myProject {
    margin-bottom: 40px;
  }
}
