@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.myProject {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
  transition: height 0.3s ease-in-out;

  .lightning {
    color: $lightningColor;
    margin-top: -35px;
    position: absolute;
    margin-left: 110px;

    @media screen and (max-width: 767px) {
      margin-left: 30px;
    }
  }

  .image {
    width: 95%;
    height: 300px;
    object-fit: cover;
    margin: 0 auto 0;

    @media screen and (max-width: 767px) {
      height: 200px;
    }
  }

  .content {
    color: $cardTextColor;
    padding: 10px;

    .truncate {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .moreLess {
      color: $moreLessColor;
      text-decoration: underline;
      cursor: pointer;
      padding-left: 10px;

      &:hover {
        color: $moreLessHoverColor;
      }
    }

    .buttonsContainer {
      display: flex;
      justify-content: center;
      margin-top: 10px;

      .button {
        background-color: $btnBgColor;
        border-radius: 10px;
        color: $btnTextColor;
        padding: 8px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        transition-duration: 0.4s;
        cursor: pointer;

        &:hover {
          background-color: $btnHoverColor;
          color: $btnTextHoverColor;
          border: 2px solid $btnBorderColor;
        }
      }
    }
  }
}
