.cvContainer {
    display: flex;
    justify-content: center;
    background-color: gray;
}

.myCv {
    position: relative;
    width: 100%;
    max-width: 800px;
}

.myCv img {
    width: 100%;
    height: auto;
}

.downloadContainer {
    position: absolute;
    bottom: 20px;
    right: -240px; /* Adjust the value to move it further right */
    display: flex;
    align-items: center;
}

.downloadLink {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: orange;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.downloadIcon {
    margin-left: 10px;
}


