.cvContainer {
    background: gray;
    display: flex;
    justify-content: center;
    position: relative;
}

.myCv {
    max-width: 800px;
    margin: 0 auto;
    background-color: gray;
    margin:10px
}

.myCv img {
    display: block;
    max-width: 100%;
    height: auto;
}

.downloadContainer {
    position: absolute;
    top: 0;
    right: 110px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-decoration: none;
}

.downloadLink {
    margin-right: 200px;
    text-decoration: none;
}

.downloadIcon {
    font-size: 36px;
    color: orange;
    font-weight: bold;
}

h4{
    font-size: 20px;
    color:orange;
    text-decoration: none;

}
