@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.nav {
    width: 100%; /* Make nav take full width so the space-between property can work effectively */
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically in the center */
    padding: 0 10px; /* Add some padding on left and right to avoid touching the edges */

    .links {
        display: flex;
        justify-content: space-around;
        width: 500px;
    }

    .language {
        display: flex;
        justify-content: space-around;
        width: 150px; /* adjust this value according to your needs */
    }

    a {
        @include text(titleFontFamily, 20px, 1.2);
        color: black;
        text-decoration: none;

        &:hover {
            color: gray;
        }

        &.active {
            color: white;
        }
    }

    @media screen and (max-width: 266px) {
        flex-direction: column;
        align-items: center;

        .links,
        .language {
            width: 100%;
            margin-bottom: 10px;
        }

        a {
            margin-bottom: 10px;
        }
    }
}
