$textColor: #fff;
$textSkills: black;
$btnColor: gray;
$myProjectsbgColor: #1f1f20;
$headerBgColor: #fff;
$mainPagebgColor: #1f1f20;
$mySkillsBgColor: #505050;
$mySkillBgColor: #1f1f20;
$myProjectbgColor: #252527;
$titleFontFamily: "Josefin Sans", sans-serif;
$textFontFamily: "Poppins", sans-serif;
$skillsBgColor: gray;
$skillsBorders: gray;
$footerBgColor: #1f1f20;
$greetingBgColor: lightgray;
