$textColor: #fff;
$textSkills: black;
$btnColor: black;
$myProjectsbgColor: #1f1f20;
$headerBgColor: #fff;
$mainPagebgColor: #1f1f20;
$mySkillsBgColor: #505050;
$mySkillBgColor: #1f1f20;
$myProjectbgColor: #252527;
$titleFontFamily: 'Josefin Sans', sans-serif;
$textFontFamily: 'Poppins', sans-serif;
$skillsBgColor: gray;
$skillsBorders: gray;

//MainPage
$mainPageBgColor: #333;
$mainPageHiThereMyNameIsDmitryColor: white;
$mainPageRoleColor: orange;
$typingEffectTextColor: white;
$mainPageCvDownloadBtnBgColor: orange;
$mainPageCvDownloadBtnTextColor: black;
$mainPageCvDownloadBtnBgHoverColor: gray;
$mainPageCvDownloadBtnTextHoverColor: orange;
$photoWrapperColor: orange;
$rotatingCubesBgColor: #333;
$rotatingCubesCaptionsColor: white;

//AboutMe
$aboutMeBgColor: #ccc;
$moreOfMyStoryColor: navy;
$moreOfMyStoryHoverColor: grey;

//MyProjects
$myProjectsBgColor: #ccc;
$cardTextColor: white;
$moreLessColor: orange;
$moreLessHoverColor: gray;
$btnTextColor: black;
$btnBgColor: orange;
$btnHoverColor: #1f1f20;
$btnTextHoverColor: orange;
$btnBorderColor: orange;
$lightningColor: red;

//Contacts
$contactsTitleColor: white;
$contactsUnderscoreColor: white;
$contactsFormColor: orange;
$contactsBgColor: #333;
$contactsTitleColor: white;

//Footer
$footerBgColor: black;
$footerText: white;
//FooterIcons color/size are controlled inline
