@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.footer {
  background-color: $footerBgColor;

  .underline {
    text-decoration: underline;
  }

  .footerContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    color: white;

    .footerContent {
      justify-content: space-between;
      width: 100%;
      text-align: center;

      .footerText {
        margin: 0 40px;
        color: $footerText;
        margin-bottom: 20px;
      }

      .adoptedForPhonesAndIconsAllRights {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;

        .socialIcons {
          display: flex;
          justify-content: center;
          margin: 20px 0;

          .socialIcon {
            margin: 0 5px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .footerContainer {
      flex-direction: column;
      align-items: center;
      padding: 10px;

      .footerContent {
        flex-direction: column;
        align-items: center;

        .footerText {
          margin: 10px 0;
        }

        .socialIcons {
          .socialIcon {
            margin: 5px;
          }
        }
      }
    }
  }
}
