@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.abutMeBlock {
  min-height: 125vh;

  background-color:#cccccc;
  display: flex;
  flex-direction: column;
/*  border-bottom-left-radius: 110% 10%;
  border-bottom-right-radius: 110% 10%;
  transform: scaleY(1.1);*/
 /* overflow: hidden;*/
  align-items: center;
}

.titleContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2em 0;
}

.rectangle{
  marginTop: 50px;
  width: 600px;
  height: 350px;
  border: 1px solid black;
  padding: 10px;
  backgroundColor: white;

}
.rectanglesContainer{
  width:100%;
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  gap:20px;
}

.textJustified{
  text-align: justify;
}
a {
  color: navy;
  transition: color 0.3s ease;

  &:hover {
    color: grey;
  }
}