@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.myProjectsBlock {
  min-height: 100vh;
  background-color: #cccccc;
  display: flex;
  flex-wrap: wrap;
  border-bottom-left-radius: 110% 10%;
  border-bottom-right-radius: 110% 10%;
  transform: scaleY(1.1);
  overflow: hidden;
}

.projectsInner {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 60px;
}

.moreProjects{
  margin: 50px;
  font-size: x-large;
}

a{
  color: black;
}

.myProjectsContainer {
  z-index: 10; //За счет этого не закрываются кнопки у проектов
  .projects {
    display: flex;
    flex-wrap: wrap;

    .projectItem {
      width: 100%;
      background-color: #333333; //Project box color
      margin-bottom: 20px;
      border-radius: 40px;
      height: auto; // This will ensure your container height is dynamic
      transition: height 0.5s; // For smooth height transition
      margin-left: auto;
      margin-right: auto;

           @media screen and (min-width: 768px) {
        width: calc(50% - 15px);
      }

      &:hover {
        .projectInfo {
          opacity: 1;
        }
      }
    }


  }
}
