@import '../common/styles/sass/variables';

.myProjectsBlock {
  min-height: 100vh; /*adjustment for mobile version*/
  background-color: $myProjectsbgColor;

  .myProjectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-top: 30px;

    .projects {
      //border: 1px solid;
      width: 100%; /*width is relative to parent (skillsContainer width*/
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto; /* Enable horizontal scrolling */
      box-sizing: border-box;
      margin-top: 30px;
      align-items: flex-start;
      @media screen and (max-width: 1129px) {
        justify-content: flex-start; /* Adjust as per your preference */
      }

      .projectItem {
        position: relative;
        margin: 20px;
      }

      .buttonsContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }

      .appButton,
      .codeButton {
        padding: 10px 20px;
        width: 150px; /* Adjust the width as per your preference */
        background-color: #fff;
        border: 2px solid #333;
        color: #333;
        cursor: pointer;
        border-radius: 50px;
      }

      .appButton:hover,
      .codeButton:hover {
        background-color: #333;
        color: #fff;
      }
    }
  }
}
