.myProjectsBlock {
    min-height: 100vh; /*adjustment for mobile version*/
    background-color: yellow;
}

.myProjectsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.title{
    background-color: sandybrown;
}

.projects{
    border:1px solid;
    width:100%; /*width is relative to parent (skillsContainer width*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}